<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rumahmakan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RumahMakan">
        <activity
            android:name=".Mineral"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false"/>

        <activity
            android:name=".End_rumah"
            android:exported="false" />
        <activity
            android:name=".es_kelapa"
            android:exported="false" />
        <activity
            android:name=".es_jeruk"
            android:exported="false" />
        <activity
            android:name=".teh_es"
            android:exported="false" />
        <activity
            android:name=".pecal_lele"
            android:exported="false" />
        <activity
            android:name=".pecal_ayam"
            android:exported="false" />
        <activity
            android:name=".soto_ayam"
            android:exported="false" />
        <activity
            android:name=".mie_goreng"
            android:exported="false" />
        <activity
            android:name=".kategori_minuman"
            android:exported="false" />
        <activity
            android:name=".kategori_makanan"
            android:exported="false" />
        <activity
            android:name=".Kategori"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>